.deleteBtn {
	padding: 5px 14px;

	font-size: 12px;
	color: #fd1717;
	border: 1px solid #fd1717;
	border-radius: 20px;
	background-color: #ffffff;

	transition:
		color 250ms ease,
		background-color 250ms ease;

	&:hover,
	&:focus {
		color: #ffffff;
		background-color: #fd1717;
	}
}
