@import "constants/sizes";

.createForm {
	display: flex;
	flex-direction: column;
	padding: 36px 22px;

	background-color: #eaedf1;
	border-radius: 20px;

	@media screen and (min-width: $tablet) {
		width: 480px;
		padding: 36px 24px;
	}

	@media screen and (min-width: $desktop) {
		width: 596px;
		padding: 48px;
	}
}

.createFormLabelsWrapper {
	margin-bottom: 16px;

	@media screen and (min-width: $desktop) {
		margin-bottom: 32px;
	}
}

.createFormLabel {
	display: inline-block;
	width: 100%;
	position: relative;

	&:not(:last-child) {
		margin-bottom: 28px;
	}
}

.createFormTitle {
	display: block;
	margin-bottom: 8px;

	color: #173d33;
	text-align: justify;
	font-size: 16px;
	letter-spacing: -0.64px;

	@media screen and (min-width: $desktop) {
		margin-bottom: 12px;
	}
}

.createFormInput {
	width: 100%;
	padding-right: 30px;
	padding-bottom: 8px;

	background-color: transparent;
	border-bottom: 1px solid #97d28b;
	color: #828382;
	font-size: 18px;
	letter-spacing: -0.72px;

	@media screen and (min-width: $desktop) {
		font-size: 20px;
		letter-spacing: -0.8px;
	}
}

.createFormSelect {
	width: 100%;
	padding: 8px;

	background-color: transparent;
	border: none;
	border-bottom: 1px solid #97d28b;
	color: #828382;
	font-size: 18px;
	letter-spacing: -0.72px;

	cursor: pointer;

	@media screen and (min-width: $desktop) {
		font-size: 20px;
		letter-spacing: -0.8px;
	}
}

.createFormPhotoPreviewWrapper {
	display: flex;
	justify-content: center;
}

.createFormInputError {
	border-color: #d28b8b;
}

.createFormError {
	margin-top: 8px;
	text-align: end;
	color: #d28b8b;

	@media screen and (min-width: $desktop) {
		margin-top: 12px;
	}
}

.removeFeatureBtn,
.removePhotoBtn {
	display: flex;
	margin-top: 5px;
	margin-bottom: 5px;

	border-radius: 10px;

	transition:
		color 250ms ease,
		background-color 250ms ease;

	&:hover,
	&:focus {
		color: #fd0c0c;
		background-color: #bebebe;
	}
}

.addFeatureBtnWrapper,
.addPhotoBtnWrapper {
	display: flex;
	justify-content: center;
}

.addFeatureBtn,
.addPhotoBtn {
	padding: 5px 15px;

	border: 1px solid #173d33;
	border-radius: 20px;
	color: #173d33;
	font-size: 16px;
	letter-spacing: -0.64px;

	transition:
		color 250ms ease,
		background-color 250ms ease;

	&:hover,
	&:focus {
		color: #97d28b;
		background-color: #173d33;
	}
}

.createFormSubmit {
	padding: 14px 4px 14px 4px;

	border-radius: 500px;
	border: 1px solid #97d28b;
	color: #173d33;
	font-size: 16px;
	line-height: calc(18px / 16px);
	letter-spacing: -0.64px;

	transition:
		color 250ms ease,
		border-color 250ms ease,
		background-color 250ms ease;

	&:hover,
	&:focus {
		color: #97d28b;
		background-color: #173d33;
		border-color: #173d33;
	}
}

.createFormSubmit.disabled {
	opacity: 0.5;

	&:hover,
	&:focus {
		color: #173d33;
		background-color: transparent;
		border-color: #97d28b;
	}

	cursor: default;
}
