.backBtn {
	display: flex;
	align-items: center;
	padding: 5px;
	border-radius: 20px;

	transition:
		opacity 250ms ease,
		background-color 250ms ease;

	&:hover,
	&:focus {
		opacity: 0.5;
		background-color: #d6d5d5;
	}
}
