@import "../../constants/sizes";

.listWrapper {
	margin-bottom: 10px;
}

.equipmentList {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;

	@media screen and (min-width: $tablet) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (min-width: $desktop) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.equipmentItem {
	display: flex;
}

.equipmentLink {
	display: flex;
	align-items: center;
	justify-content: center;

	color: black;
}

.equipmentCardContent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 16px;
}

.equipmentCardMainFeatures {
	font-size: 16px;
	font-weight: 700;
}
