@import "../../constants/sizes";
@import "../../constants/paddings";

.listWrapper {
}

.equipmentList {
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;

	@media screen and (min-width: $tablet) {
		grid-template-columns: 1fr 1fr;
	}

	@media screen and (min-width: $desktop) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

.equipmentItem {
	padding: 1px;

	border: 1px solid black;
	border-radius: 4px;
}

.equipmentLink {
	display: flex;
	align-items: center;
	justify-content: center;

	color: black;
}

.equipmentImg {
	width: 210px;
}

.equipmentTitle {
	padding: 4px;
	margin-top: 8px;
	margin-bottom: 0;
	color: black;
}
