@import "../../constants/sizes";

.slider__container {
	position: relative;
	min-width: 0;
}

.slider__wrapper {
}

.slider__card {
	@media screen and (min-width: $tablet) {
		max-width: 342px;
	}

	@media screen and (min-width: $desktop) {
		max-width: 596px;
	}
}

.slider__img {
	width: 100%;
}

.slider__prev,
.slider__next {
	position: absolute;
	top: 50%;

	z-index: 1;
}

.slider__prev {
}

.slider__next {
	right: 0;
}
