@import "constants/sizes";

.equipmentDetails {
	padding: 30px 0;

	@media screen and (min-width: $tablet) {
		padding: 50px 0;
	}

	@media screen and (min-width: $desktop) {
		padding: 100px 0;
	}
}
