@import "constants/sizes";

.equipmentDetailsSection {
	padding: 30px 0;

	@media screen and (min-width: $tablet) {
		padding: 50px 0;
	}

	@media screen and (min-width: $desktop) {
		padding: 100px 0;
	}
}

.btnWrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
