@import "constants/sizes";

.header {
	background-color: rgba(23, 61, 51, 0.75);
}

.headerBody {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 36px 0;
}

.headerNavigationWrapper {
	display: flex;
	align-items: center;
	gap: 50px;
}

.headerLogoLink {
	font-size: 33px;
	letter-spacing: -1.32px;

	color: #dcefd8;

	transition: color 250ms ease;

	&:hover,
	&:focus {
		color: #97d28b;
	}
}
